
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0%;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

body{
    margin: 0;
    height: 100vh;
    background-image:url(https://images.unsplash.com/photo-1596367407372-96cb88503db6?w=1000&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8d2hpdGV8ZW58MHx8MHx8fDA%3D);

    background-size:cover;

    
    color: black;
    font-weight: 700;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;


}

.quote-container{
    width: auto;
    max-width: 900px;
    padding: 20px 30px;
    border-radius: 10px;


    background-color: rgba(255, 255,255,0.2);
    box-shadow: (0 10px 10px 10px 0.4);
    

}

.qoute-text{
    font-size: 2.65rem;
    font-weight: 600;

}
.bxs-quote-left{
    font-size: 3rem;

}
.quote-author{
    margin-top: 15px;
    font-size:2rem;
    font-weight: 400;
    font-style: italic;

}

.button-container{
    display: flex;
    justify-content: space-between;

    
}

button{
    cursor: pointer;
}
button:hover{
    filter: brightness(110%);
}
button:active{
    transform: translate(0,0.3rem);
}

.twitter-button{
    color: #1DA1F2;
    background:rgba(0,0,0,0);
    border: none;
    font-size: 40px;

   
    
}

.new-quote{
    width:25vw;
    padding: 10px;
    

    border-radius: 50px;
    font-size: 30px;
    font-weight: 500;
    box-shadow:( 0,10px,10px,10px,0.1);
    
}














    

